@media (min-width: 320px) and (max-width: 800px) {
  .block {
    padding: 20px;
  }

  .sub-title {
    padding: 0px 25px
  }
  .cus-nav {
    padding: 10px !important;
  }
  .nav-btn{
    display: none;;
  }
  .main {
    height: 80vh !important;
    background-image: none !important;
    background-color: #EDEAFE !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    
  }
  #name{
    font-size: 40px !important;
  }
  #desc{
    font-size:22px;
  }

  .about-block {
    display: block !important;
    padding: 25px;
    height: fit-content !important;
  }
  .about-left {
    width: 100%;
      height: fit-content !important;
    }
.img-block {
border-radius: 25px !important;
margin: 30px !important;
} 
.about-right {
  padding: 10px !important;
  text-align: center !important;
  width: 100%;
  height: fit-content !important;
}     
.head {
  font-size: 25px !important;
}
        
#knowns {
  
  padding: 50px 30px 0px !important;
}
#project{
  padding: 0px 30px 50px !important;

}
        
.title {
  font-size: 30px;
}
    
.technologies {
  display: block !important;
}

.cards {
  margin: 30px 0px !important;
}
      

.project-desc{
  padding: 0px 0px !important;
}
.project-image-box {
  height: 200px !important;
  width: 250px !important;
}
.external-link {
  display: block !important;
}
.img-content{
  height: 185px !important;
  width: 275px !important;

}

#map{
  position: relative !important;
  height: 200px !important;
  width: -webkit-fill-available !important;
  margin: 50px 0px !important ;
}
.map-div{
  padding: 0px !important;
}

#address{
  padding: 50px 30px !important;
}

.add-icons i::before{
  font-size: 20px !important;
}
.add-desc{
  font-size: 12px !important;
}
.form-div{
  padding:  10px !important;
  margin-top: 50px !important;
}
.img-div img{

  height: 200px !important;
  width: 300px !important;
}
#github{
  padding: 0px !important;
}
#github > .calender{
  margin: 35px 0px !important; 
}

#contributions-chart{
  padding: 10px 30px !important;
}

}